* {
    padding: 0;
    margin: 0;
}

#root {
    background-image: url('../public/img/landing.webp');
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    color: #daf5ff;
    font-size: 20px;
    text-decoration: none;
    background-color: #4B6858;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
}